<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="onrobot_rg6_gazebo" params="prefix">
    <!--
      Inject Gazebo ROS Control plugin, which allows us to use ros_control
      controllers to control the virtual robot hw.
    -->
    <gazebo>
      <plugin filename="libgazebo_ros_control.so" name="ros_control" />
    </gazebo>

    <gazebo>
      <plugin filename="libroboticsgroup_upatras_gazebo_mimic_joint_plugin.so" name="mimic_${prefix}left_inner_knuckle_joint">
        <joint>${prefix}finger_joint</joint>
        <mimicJoint>${prefix}left_inner_knuckle_joint</mimicJoint>
        <multiplier>-1.0</multiplier>
        <offset>0.0</offset>
        <maxEffort>5.0</maxEffort>
        <hasPID />
      </plugin>
      <plugin filename="libroboticsgroup_upatras_gazebo_mimic_joint_plugin.so" name="mimic_${prefix}right_inner_knuckle_joint">
        <joint>${prefix}finger_joint</joint>
        <mimicJoint>${prefix}right_inner_knuckle_joint</mimicJoint>
        <multiplier>-1.0</multiplier>
        <offset>0.0</offset>
        <maxEffort>5.0</maxEffort>
        <hasPID />
      </plugin>

      <plugin filename="libroboticsgroup_upatras_gazebo_mimic_joint_plugin.so" name="mimic_${prefix}left_inner_finger_joint">
        <joint>${prefix}finger_joint</joint>
        <mimicJoint>${prefix}left_inner_finger_joint</mimicJoint>
        <multiplier>1.0</multiplier>
        <offset>0.0</offset>
        <maxEffort>5.0</maxEffort>
        <hasPID />
      </plugin>
      <plugin filename="libroboticsgroup_upatras_gazebo_mimic_joint_plugin.so" name="mimic_${prefix}right_inner_finger_joint">
        <joint>${prefix}finger_joint</joint>
        <mimicJoint>${prefix}right_inner_finger_joint</mimicJoint>
        <multiplier>1.0</multiplier>
        <offset>0.0</offset>
        <maxEffort>5.0</maxEffort>
        <hasPID />
      </plugin>

      <plugin filename="libroboticsgroup_upatras_gazebo_mimic_joint_plugin.so" name="mimic_${prefix}right_outer_knuckle_joint">
        <joint>${prefix}finger_joint</joint>
        <mimicJoint>${prefix}right_outer_knuckle_joint</mimicJoint>
        <multiplier>-1.0</multiplier>
        <offset>0.0</offset>
        <maxEffort>5.0</maxEffort>
        <hasPID />
      </plugin>

      <plugin name="gazebo_grasp_fix" filename="libgazebo_grasp_fix.so">
        <arm>
          <arm_name>${prefix}onrobot_rg6</arm_name>
          
          <palm_link>${prefix}left_outer_knuckle</palm_link>
          <palm_link>${prefix}right_outer_knuckle</palm_link>

          <gripper_link> ${prefix}left_inner_finger </gripper_link>
          <gripper_link> ${prefix}right_inner_finger </gripper_link>
        </arm>
        <forces_angle_tolerance>100</forces_angle_tolerance>
        <update_rate>10</update_rate>
        <grip_count_threshold>3</grip_count_threshold>
        <max_grip_count>10</max_grip_count>
        <release_tolerance>0.001</release_tolerance>
        <disable_collisions_on_attach>false</disable_collisions_on_attach>
        <contact_topic>__default_topic__</contact_topic>
      </plugin>
    </gazebo>

  </xacro:macro>
</robot>